*, *::before, *::after {
    box-sizing: border-box;
    background-color: blanchedalmond;
}

  
  button, label, .title, .author, .pages, .read {
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  